In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('E:/QQ/838278270/FileRecv/2020.1税务提供(社保）.xls')

In [3]:
res=pd.DataFrame(data[['姓名','单位名称','单位应缴汇总','个人应缴汇总']])
type(res)

pandas.core.frame.DataFrame

In [5]:
res

       姓名            单位名称      单位应缴汇总      个人应缴汇总
0     沈俊雄      沅江市草尾镇大同小学      798.24      399.12
1     曹建军      沅江市草尾镇大同小学     1320.00      660.00
2     晏宏华      沅江市草尾镇大同小学     1228.00      614.00
3      徐勇      沅江市草尾镇大同小学      838.08      419.04
4     谭丽辉      沅江市草尾镇大同小学     1116.80      558.40
...   ...             ...         ...         ...
5389  蔡爱先     沅江市职业中等专业学校     1210.72      605.36
5390  曹田清     沅江市职业中等专业学校     1073.44      536.72
5391  曹海波     沅江市职业中等专业学校      912.48      456.24
5392  NaN  沅江市职业中等专业学校 汇总   178575.52    89287.76
5393  NaN              总计  5035968.00  2517984.00

[5394 rows x 4 columns]

In [7]:
r=res[res.isnull().values==True]

In [8]:
r

       姓名            单位名称      单位应缴汇总      个人应缴汇总
19    NaN   沅江市草尾镇大同小学 汇总    19153.76     9576.88
52    NaN   沅江市草尾镇人和学校 汇总    30736.16    15368.08
102   NaN  沅江市草尾镇上码头学校 汇总    47160.48    23580.24
163   NaN   沅江市草尾镇新安学校 汇总    52671.52    26335.76
175   NaN   沅江市草尾镇星火小学 汇总    10076.96     5038.48
...   ...             ...         ...         ...
4979  NaN      沅江市第一中学 汇总   323192.48   161596.24
5010  NaN     沅江市中心幼儿园 汇总    27336.48    13668.24
5216  NaN     沅江政通实验学校 汇总   212142.08   106071.04
5392  NaN  沅江市职业中等专业学校 汇总   178575.52    89287.76
5393  NaN              总计  5035968.00  2517984.00

[108 rows x 4 columns]

In [12]:
r=r[['单位名称','单位应缴汇总','个人应缴汇总']]

In [13]:
r.to_excel('out.xls',index=0)

PermissionError: [Errno 13] Permission denied: 'out.xls'